.container * {
    outline: 1px solid red;
}

body {
    margin: 0;
}

.container {
    background: red;
    height: 100vh;
    color: white;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}


header, footer {
    background: green;
    flex-grow: 1;
}

nav, aside {
    background: rgb(8, 182, 8);
    flex-grow: 2;
}

main {
    background: darkcyan;
    /* flex-grow: 15; */
    min-height: 65vh;
}


@media (min-width: 600px) {
    /* * {
        display: none;
    } */


    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }


    header, footer {
        width: 100%;
    }

    main {
        width: 65%;
    }


}